.App {
  min-height: 100vh;
  background-color:rgb(161, 153, 153);
  color: aliceblue;
  text-align: center;
  padding: 10px;
}
.head{
  color: rgb(44, 38, 38);
  font-size: larger;
}
.box{
  justify-content: center;
  display: flex;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  /* border: 1px solid #ddd; */
}
th{
  width: 100px;
}
th, td {
  text-align: center;
  padding: 16px;
}

